<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        <div class="row">

            <ng-container *ngFor="let project of projects | paginate: config; let i = index">
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <div class="card" style="width: 300px;">  <img class="card-img-top" [src]="project.imgUrl" onerror="this.src = 'assets/images/gif.gif'" alt="Card image">
                            <div class="card-body">
                                <h3 class="card-title">{{project.title}}</h3>
                                <h5 class="card-text"><b>Technology :</b> {{project.tech}} </h5>
                                <h5 class="card-text"><b> Description : </b>
                                    <ng-container *ngIf="!expanded[i]">
                                        {{ project.desc | slice:0:wordLimit }}{{ project.desc.length > wordLimit ? '...' : '' }}
                                        <a *ngIf="project.desc.length > wordLimit" href="javascript:void(0);" (click)="toggleExpand(i)">Read more</a>
                                    </ng-container>
                                    <ng-container *ngIf="expanded[i]">
                                        {{ project.desc }}
                                        <a href="javascript:void(0);" (click)="toggleExpand(i)">Read less</a>
                                    </ng-container>
                                </h5>
                                <a *ngIf="project.livedemo" [href]="project.livedemo" class="btn btn-primary stretched-link ml-2 mr-5">Live Demo</a>
                                <a *ngIf="project.githurl" [href]="project.githurl" class="btn btn-primary stretched-link">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>
